<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Alpha Project</title>
    </head>
    <body>
        <header>
            <nav>
                <ul>
                    {% if user.is_authenticated %}
                        <li>
                            <a href="{% url "show_my_tasks" %}">My Tasks</a>
                        </li>
                        <li>
                            <a href="{% url "list_projects" %}">My Projects</a>
                        </li>
                        <li>
                            <a href="{% url "logout" %}">Logout</a>
                        </li>
                    {% else %}
                        <li>
                            <a href="{% url "signup" %}">Signup</a>
                        </li>
                        <li>
                            <a href="{% url "login" %}">Login</a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        </header>
        <h1>My Projects</h1>
        <p>
            <a href="{% url "create_project" %}">Create a new project</a>
        </p>
        <main>
            <div>
                {% if not list_projects %}
                    <p>You are not assigned to any projects</p>
                {% else %}
                    <table>
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Number of tasks</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for project in list_projects %}
                                <tr>
                                    <td>
                                        <a href="{% url "list_projects" %}">{{ project.name }}</a>
                                    </td>
                                    <td>
                                        <a href="{% url "show_project" project.id %}">{{ project.tasks.all|length }}</a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% endif %}
            </div>
        </main>
    </body>
</html>
{% comment %} <header>
    <nav>
        <ul>
            {% if user.is_authenticated %}
                <li>
                    <a href="{% url "show_my_tasks" %}">My Tasks</a>
                </li>
                <li>
                    <a href="{% url "list_projects" %}">My Projects</a>
                </li>
                <li>
                    <a href="{% url "logout" %}">Logout</a>
                </li>
            {% else %}
                <li>
                    <a href="{% url "signup" %}">Signup</a>
                </li>
                <li>
                    <a href="{% url "login" %}">Login</a>
                </li>
            {% endif %}
        </ul>
    </nav>
</header>
<h1>My Projects</h1>
<p>
    <a href="{% url "create_project" %}">Create a new project</a>
</p>
<main>
    <div>
        {% if not list_projects %}
            <p>You are not assigned to any projects</p>
        {% else %}
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Number of tasks</th>
                    </tr>
                </thead>
                <tbody>
                    {% for project in list_projects %}
                        <tr>
                            <td>
                                <a href="{% url "list_projects" %}">{{ project.name }}</a>
                            </td>
                            <td>
                                <a href="{% url "show_project" project.id %}">{{ project.tasks.all|length }}</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}
    </div>
</main> {% endcomment %}
