<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Alpha Project</title>
    </head>
    <body>
        <header>
            <nav>
                <ul>
                    {% if user.is_authenticated %}
                        <li>
                            <a href="{% url "show_my_tasks" %}">My Tasks</a>
                        </li>
                        <li>
                            <a href="{% url "list_projects" %}">My Projects</a>
                        </li>
                        <li>
                            <a href="{% url "logout" %}">Logout</a>
                        </li>
                    {% else %}
                        <li>
                            <a href="{% url "signup" %}">Signup</a>
                        </li>
                        <li>
                            <a href="{% url "login" %}">Login</a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        </header>
        <main>
            <div>
                <h1>{{ project_details.name }}</h1>
                <p>{{ project_details.description }}</p>
                <h2>Tasks</h2>
                <p>
                    <a href="{% url "create_task" %}">Create a new task</a>
                </p>
                {% if project_details.tasks.all|length > 0 %}
                    <table>
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Assignee</th>
                                <th>Start date</th>
                                <th>Due date</th>
                                <th>Is completed</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for tasks in project_details.tasks.all %}
                                <tr>
                                    <td>{{ tasks.name }}</td>
                                    <td>{{ tasks.assignee.username }}</td>
                                    <td>{{ tasks.start_date|date:"m/d/Y" }}</td>
                                    <td>{{ tasks.due_date|date:"m/d/Y" }}</td>
                                    <td>{{ tasks.is_completed|yesno }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <p>This project has no tasks</p>
                {% endif %}
            </div>
        </main>
    </body>
</html>
{% comment %} <header>
    <nav>
        <ul>
            {% if user.is_authenticated %}
                <li>
                    <a href="{% url "show_my_tasks" %}">My Tasks</a>
                </li>
                <li>
                    <a href="{% url "list_projects" %}">My Projects</a>
                </li>
                <li>
                    <a href="{% url "logout" %}">Logout</a>
                </li>
            {% else %}
                <li>
                    <a href="{% url "signup" %}">Signup</a>
                </li>
                <li>
                    <a href="{% url "login" %}">Login</a>
                </li>
            {% endif %}
        </ul>
    </nav>
</header>
<main>
    <div>
        <h1>{{ project_details.name }}</h1>
        <p>{{ project_details.description }}</p>
        <h2>Tasks</h2>
        <p>
            <a href="{% url "create_task" %}">Create a new task</a>
        </p>
        {% if project_details.tasks.all|length > 0 %}
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Assignee</th>
                        <th>Start date</th>
                        <th>Due date</th>
                        <th>Is completed</th>
                    </tr>
                </thead>
                <tbody>
                    {% for tasks in project_details.tasks.all %}
                        <tr>
                            <td>{{ tasks.name }}</td>
                            <td>{{ tasks.assignee.username }}</td>
                            <td>{{ tasks.start_date|date:"m/d/Y" }}</td>
                            <td>{{ tasks.due_date|date:"m/d/Y" }}</td>
                            <td>{{ tasks.is_completed|yesno }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>This project has no tasks</p>
        {% endif %}
    </div>
</main> {% endcomment %}
